MQTT_URL=mqtt://localhost:1883
REDIS_URL=redis://localhost:6379
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=domhouse-influx-token
INFLUXDB_ORG=domhouse
INFLUXDB_BUCKET=sensors
API_PORT=3000
NODE_ENV=development
